.counter div{
    display: inline-block;
    font-size: 60px;
    line-height: 65px;
    background: #101010;
    color: white;
    padding: 10px;
    margin: 3px;
}

.counter{
    text-align: center;
    background: black;
}

.btn{
    margin-top: 10px;
    align-items: center;
    border-color: black;
}